# -------------------
# Terraform
# -------------------
# Terraform state
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl

# Plan files
*.tfplan

# Crash logs
crash.log

# Ignore backup files
*.bak

# Local IDE configs (optional, if using VSCode)
.vscode/

terraform/windows_amd64/LICENSE.txt
terraform/windows_amd64/terraform-provider-azurerm_v4.34.0_x5.exe
terraform/02-aks/tfplan
